body{
    background-image:url(/images/joshua-earle--87JyMb9ZfU-unsplash.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    
}
header{
    color: rgb(62, 139, 226);
    font-size: 25px;
    text-align: center;
    line-height: 15px;
}
#get{
    background-color: rgb(47, 45, 45);
    color: white;
    box-shadow: 3px 3px 4px black;
    border-radius: 60px;

}
img{
    height: 200px;
    width: 300px; 
    margin-top: 80px;
    margin:80px 30px 0 30px ; 
    opacity: 75%; 
    box-shadow: 7px 7px 8px black; 
}
.contact{
    height: 50px;
    width: 50px;
}
a img{
    border-radius: 80px;
    
}
.small {
    background-color: rgba(28, 170, 183, 0.746);
    /* opacity: %; */
}
.paragraph{
    font-size: 40px;
    color: red;
    font-family: roboto;
    /* text-shadow: 4px 4px 4px white; */
    

}
.j{
    text-align: center;
    margin-top: 200px;
}

